<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<!--for loop example-->
    {% comment %} <form action="">
    {% for field in form %}
        {{field.label_tag}}
        {{field}}
    {% endfor %}
    </form> {% endcomment %}

    {% for field in form %}
    <label for="{{field.id_for_label}}" class="">{{field.label}}</label>
    <input class="" type="{{field.field.widget.input_type}}"name="{{form.email.name}}" required id="{{field.id_for_label}}" value="{{form.value|default:' '}}" placeholder="{{field.field.placeholder|default:''}}" required="{{filed.filed.required}}"><br>
    {% endfor %} 
</body>
</html>