<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login Page</h1>
    {%for field in form.visible_fields %}
        {{field.label_tag}}
        {{field}}
        {% comment %} <label for="{{filed.id_for_label}}" class="">{{field.label}}</label> {% endcomment %}
    {% endfor %} 
    {%for hidden in form.hidden_fields %}
        {{hidden}}
    {% endfor %}
</body>
</html> 